# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions

# production
/build
/api/build
/.cache
/__generated_site__

# Temp directory
/tmp
/__lwr_cache__

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
logs
*.log
*-debug.log
*-error.log

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
