<!DOCTYPE html>
<html lang="en" data-framework="lwc">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#000000" />
		<title>LWR Demo</title>

		<script type="text/javascript">
			var global = global || window;
			var Buffer = Buffer || [];
			var process = process || {
				env: { NODE_ENV: undefined },
				version: [],
			};
		</script>
	</head>
	<body>
		<noscript>You need to enable JavaScript to run this app.</noscript>

		{{{body}}} {{{lwr_resources}}}
	</body>
</html>
